header{
	width: 100%;
	min-height: 230px;
	background: #dcdcdc;
}

.header-logo{
	float: left;
	margin-top: 65px;
}

.header-contacts{
	margin-top: 40px;
	float: right;
}


/*Phone numbers in header*/
.header-contacts .phone{
	display: block;
	font-size: 40px;
	line-height: 100%;
	color: #767676;
	margin-bottom: 10px;
	font-family: 'MyriadPro-Regular';
}

/*link to feeadback form*/
.header-contacts .feedback-form{
	display: inline-block;
	border-bottom: 1px dashed #767676;
	font-size: 24px;
	font-weight: 400;
	color: #767676;
	text-decoration: none;
	float: right;
}

.header-contacts .feedback-form:hover{
	border-bottom: 1px solid transparent;
}