body{
	font-family: 'PT Sans', sans-serif;
	font-size: 14px;
	line-height: 22px;
	color: #767676;
}

.center-container{
	max-width: 960px;
	padding: 0 10px;
	margin: 0 auto;
}

/*Header*/

header{
	width: 100%;
	height: 230px;
	background: #dcdcdc;
}

.header-logo{
	display: block;
	width: 273px;
	height: 100px;
	background: url("../img/header-logo.png") no-repeat;
	float: left;
	margin-top: 65px;
}

.header-logo:hover{
	background-position: 0 100%;
}

.header-contacts{
	margin-top: 40px;
	float: right;
}

/*Phone numbers in header*/
.header-contacts-phone{
	display: block;
	font-size: 40px;
	line-height: 100%;
	color: #767676;
	margin-bottom: 10px;
}

/*link to feeadback form*/
.header-feedback-form-call{
	display: inline-block;
	border-bottom: 1px dashed #767676;
	font-size: 24px;
	font-weight: 400;
	color: #767676;
	text-decoration: none;
	float: right;
}

.header-feedback-form-call:hover{
	border-bottom: none;
}