.leftblock {
  width: 170px;
  float: left;
  padding-left: 10px;
}

.leftblock .menu{
  margin-bottom: 100px;
}

.leftblock .menu li{
  margin-bottom: 10px;
}

.leftblock .menu a{
  font-size: 18px;
  text-decoration: none;
}

.leftblock .menu a:hover{
  text-decoration: underline;
}

.leftblock .dropdown-menu {
  display: none;
  margin-left: 26px;
}

.leftblock .menu li:hover .dropdown-menu, .leftblock .menu li.active .dropdown-menu{
  display: block;
}

.leftblock .menu li.active > a{
  text-decoration: underline;
}

.leftblock .dropdown-menu li{
  list-style: disc;
  margin-bottom: 0px;
}

.leftblock .dropdown-menu a{
  font-size: 14px;
  margin-left: -5px;
}

.leftblock .dropdown-menu li:hover a, .leftblock .dropdown-menu li.active a{
  color: #000;
  text-decoration: underline;

}


/*price list link with icon*/

.price-list-link{
  text-align: center;
  display: block;
  padding-top: 120px;
  color: #444;
  font-size: 30px;
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  text-decoration: none;
  background: url("../img/price-list-icon.png") 43px 0 no-repeat;
}

/*sidebar response*/
.menu-response-toggle{
  display: none;
  width: 40px;
  height: 40px;
  background: url("../img/sidebar-menu-respons.png") no-repeat;
  margin: 5px;
  cursor: pointer;
  -moz-transition: all 100ms ease;
  -webkit-transition: all 100ms ease;
  transition: all 100ms ease;
}

.menu-response-toggle:hover{
  webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

@media (max-width: 1010px){
  .leftblock {
    position: absolute;
    top: 25px;
    left: 0;
    z-index: 1;
    display: none;
  }

  .menu-response-toggle{
    display: block;
  }

  .centerblock{
    max-width: 100%;
    -webkit-transition: all 300ms ease 0;
    -moz-transition: all 300ms ease 0;
    -o-transition: all 300ms ease 0;
    transition: all 300ms ease 0;

    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);

    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .main-section.push-wrap .centerblock {
    -webkit-transform: translate(180px, 0);
    -moz-transform: translate(180px, 0);
    -ms-transform: translate(180px, 0);
    -o-transform: translate(180px, 0);
    transform: translate(180px, 0);

    -webkit-transform: translate3d(180px, 0, 0);
    -moz-transform: translate3d(180px, 0, 0);
    -ms-transform: translate3d(180px, 0, 0);
    -o-transform: translate3d(180px, 0, 0);
    transform: translate3d(180px, 0, 0);
  }

  .main-section.push-wrap{
    overflow: hidden;
  }

  .main-section.push-wrap .leftblock{
    display: block;
  }
}
