.top-nav-menu{
	width: 100%;
	min-height: 80px;
	line-height: 80px;
	text-align: center;
	background: #777;
	position: relative;
}

.top-nav-menu li{
	display: inline-block;
}

.top-nav-menu li a{
	padding: 0 17px;
	color: #fff;
	font-size: 30px;
	font-family: 'PT Sans', sans-serif;
	text-decoration: none;
	border-right: 2px solid #fff;
}

.top-nav-menu li:last-child a{
	border-right: none;
}

.top-nav-menu li a:hover{
	text-decoration: underline;
}

.top-nav-menu .nav-response-toggle{
	width: 60px;
	height: 60px;
	position: absolute;
	right: 10px;
	top: 10px;
	display: none;
	background: url("../img/list-menu-respons.png") no-repeat;
	cursor: pointer;
	-moz-transition: all 100ms ease;
	-webkit-transition: all 100ms ease;
	transition: all 100ms ease;
}

.top-nav-menu .nav-response-toggle:hover{
	webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
}

/*response menu*/

/*.top-nav-menu.menu-response ul{
	display: none;
}*/

/*.top-nav-menu.active ul{
	display: block;
}*/




/*Mobile menu*/

@media (max-width: 1100px) {
	.top-nav-menu ul{
		display: none;
	}
	.top-nav-menu .nav-response-toggle{
		display: block;
	}
	.top-nav-menu ul li{
		display: block;
		text-align: left;
	}
	.top-nav-menu ul li a{
		border-right: none;
	}
}